/* https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gap: 4px;
}

.red {
  color: red;
}

html,
body {
  background-color: #333;
  color: #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Style for when the player has won the game. */
main.won {
  background-color: rgb(13, 40, 13);
}

button.plus {
  margin-right: auto;
}

button.tile {
  position: relative;
  height: 8rem;
  width: 8rem;
}

table {
  border: solid;
  border-collapse: collapse;
  width: 8rem;
}

tr.sum {
  border-top: solid;
}

td {
  text-align: center;
}

th {
  text-align: right;
}

footer {
  margin-top: auto;
  margin-right: auto;
  z-index: 1;
}
