/* https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  background-color: #333;
  color: white;
}

.entity {
  position: absolute;
  transition: 0.16s linear;
  
  font-size: 20px;
}
