/* https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.red {
  color: red;
}

html,
body {
  background-color: #333;
  color: #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Style for when the player has won the game. */
main.won {
  background-color: rgb(13, 40, 13);
}

button {
  position: relative;
  height: 8em;
  width: 8em;
}

footer {
  margin-top: auto;
  margin-right: auto;
  z-index: 1;
}
